#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// -------------------------------------------------------------------------------------
// | ESC | TAB | F2  | N9  | N5  |  P  | DEL |PG_UP|PG_DN|ENTER|LEFT | UP  |DOWN |RIGHT|
// |  A  |  B  |  C  |  D  |  E  |  F  |  G  |  H  |  I  |  J  |  K  |  L  |  M  |  N  |
// |  Y  | N1  | N3  |RCTRL|RSHFT|ENTER|BSPC |SPACE|RALT |LCTRL|LALT |SPACE|LSHFT|  Z  |
// -------------------------------------------------------------------------------------
            bindings = <
    &kp ESC &kp TAB &kp F2 &kp N9    &kp N5    &kp P     &kp DEL  &kp PG_UP &kp PG_DN &kp ENTER &kp LEFT &kp UP    &kp DOWN  &kp RIGHT
    &kp A   &kp B   &kp C  &kp D     &kp E     &kp F     &kp G    &kp H     &kp I     &kp J     &kp K    &kp L     &kp M     &kp N
    &kp Y   &kp N1  &kp N3 &kp RCTRL &kp RSHFT &kp ENTER &kp BSPC &kp SPACE &kp RALT  &kp LCTRL &kp LALT &kp SPACE &kp LSHFT &kp Z
            >;
        };
        
    };
};